/* Customize some of the sizing variables */
:root {
  --sidebar-width: 13.55rem !important; /* Shrink sidebar width  */
  --sidebar-horizontal-padding: 0.02in; /* Reduce sidebar padding */
}

* {
  /* Override default right margin for sidebar*/
  --pagedjs-margin-right: 0.2in !important;
  --pagedjs-margin-left: 0;
  --pagedjs-margin-top: 0.2in;
  --pagedjs-margin-bottom: 0.2in;
}

.main-block {
  margin-top: 0;
  margin-left: -0.1in;
}

.aside {
  height: 100%;
  width: var(--sidebar-width) !important;
  padding-left: 0.75rem;
  padding-right: 0;
  padding-top: 1rem;
}

.aside h2 {
  margin-left: 0.7rem;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.aside .level2 {
  margin-top: 0.315in;
}

.aside p {
  margin-block-start: 0.75em;
  margin-block-end: 0;
}

[data-id="main"] { 
  padding: 0 0.05in 0 0.05in;
}

[data-id="main"]{
  width: calc(var(--main-width) + 0.2in);
}

[data-id="main"] ul li{
  margin-bottom: 5px;
}

[data-id="title"] {
  margin: 0.33in -3.5em  0in; /* For Centre: 0.5in 5.5in 0in; */
}

[data-id="title"] h1 {
  margin-bottom: -0.5em;
}

[data-id="title"] p:nth-child(2){
  font-size: 1.15em;
  color:black;
  font-weight: 900;
  margin-bottom: -0.5em;
} 

[data-id="title"] p:nth-child(3){
  text-align: justify;
  font-size: 1.1em;
  margin_bottom: -1em;
  padding-right: 1in;
} 

[data-id="contact"] {
  margin-bottom: -1em;
}

[data-id="contact"] ul {
  padding-left: 0 !important;
  margin-top: 2em;
}

[data-id="skills"] li, 
[data-id="add-skills"] li {
  margin: 5px 0;
  margin-bottom: 0em;
  margin-left: 1.5em; 
  text-indent: -1.5em;
}

[data-id="education_1"] p,
[data-id="certificate"] p {
  line-height: 1.1em;
  margin-left: 12px;
  margin-bottom: -0.25em; 
}

[data-id="education_1"] p:nth-child(2),
[data-id="certificate"] p:nth-child(2) {
  font-size: 1.1em;
  color: black;
  font-weight: 800;
} 

[data-id="education_1"] p:nth-child(3),
[data-id="certificate"] p:nth-child(3) {
  font-size: 1.05em;
  font-weight: 650;
} 

[data-id="education_1"] p:nth-child(4),
[data-id="certificate"] p:nth-child(4) {
  font-size: 1em;
  font-weight: 550;
  margin-bottom: -0.5em; 
} 

[data-id="education_1"] p:nth-child(5),
[data-id="certificate"] p:nth-child(5) {
  font-size: 0.9em;
  font-weight: 200;
}

[data-id="disclaimer"] p {
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
  margin_bottom: 2em;
  padding_bottom: 2em;
}

[data-id="references"]{
  padding-top: 13em;
}
  
[data-id="references"] li {
  margin-left: 20px;
}